<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Loda</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

</head>
<body>
    <a href="https://sso-dev.directsale.vn/login" class="btn btn-primary">Click login</a>
    <form>
        <input name="user" type="text"/>
        <input name="pass" type="password"/>
        <input type="submit" value="submit"/>
        <input type="submit" value="thoat"/>
    </form>
</body>

</html>